# for server
DB_NAME = "your db name"
DB_HOST = "your db host"
DB_PORT = "your db port"
DB_USER = "username "
DB_PASSWORD = 'password for db'
JWT_SECRET = "your jwt secret key"
GRPC_PORT = "your grpc server port"

# ======================================

# for client
GRPC_CLIENT_URL= "your grpc server url"
HOST = "host for client"
PORT = "port for client"
JWT_SECRET = "your jwt secret key"
